<form  name="signUpForm" class="signup-address" layout="column" layout-align="start center">

  <div class="input-wrap">
    <md-input-container>
      <label>Choose username in 3NWeb</label>
      <input type="text"
          name="username"
          ng-model="$ctrl.user.name"
          ng-required="true"
          minlength="6"
          maxlength="60"
          ng-focus="$ctrl.step = 1"
          ng-keyup="$ctrl.preCheckName($event)">
      <div ng-messages="signUpForm.username.$error">
        <div ng-message="minlength">The Username is too short</div>
        <div ng-message="maxlength">The Username is too large</div>
        <div ng-message ng-if="$ctrl.error.checkName">This username is already in use!</div>
      </div>
    </md-input-container>
    <md-button ng-if="(($ctrl.user.name.length >= $ctrl.nameMinLength) && ($ctrl.user.name.length <= $ctrl.nameMaxLength) && ($ctrl.user.name.indexOf('@') === -1))"
      aria-label="done"
      md-colors="{background: 'blue-grey-100'}"
      ng-click="$ctrl.checkName()">
      <ng-md-icon icon="done" size="24"></md-icon>
    </md-button>
  </div>

  <div class="info" ng-if="$ctrl.step === 1">
    &bull; Username should be <b>6</b> upto <b>60</b> characters.<br>
    &bull; You can use letters, numbers and any characters except the <em>@</em> symbol.<br>
    &bull; You can use characters from any language.
  </div>

  <div ng-if="$ctrl.step === 2"
    class="full-mail"
    layout="column"
    layout-align="start center">
    <!-- <p class="full-mail-title"
      md-colors="{color: 'accent-700'}">
      You have chosen the name
    </p>
    <b md-colors="{color: 'primary-700'}">
      {{$ctrl.user.name}}
    </b> -->
    <p class="full-mail-title"
      md-colors="{color: 'accent-700'}">
      Choose full address:
    </p>
    <table>
      <tr ng-repeat="login in $ctrl.possibleLogins"
        ng-click="$ctrl.chooseMail(login)"
        ng-keydown="$ctrl.keysChooseMail($event, $index)">
        <td class="image">
          <img ng-src="./templates/images/fl-{{login.substr(login.length - 2, 2)}}.png">
        </td>
        <td class="full-mail-example">
          {{login.split("@")[0]}}<b>@{{login.split("@")[1]}}</b>
        </td>
      </tr>
    </table>
  </div>

</form>
