<section class="signUp" layout="column" layout-align="start center">
  <img src="./templates/images/3NWeb.png">
  <h2>Create 3N Account</h2>
  <div class="signup-tmplts"
    ng-include="$ctrl.currentTmpl"
    layout="column"
    layout-align="start center">
  </div>


  <div ng-if="$ctrl.isWait"
    class="wait"
    layout="row"
    layout-align="center center">
    <md-progress-circular md-mode="indeterminate"
      md-diameter=50px">
    </md-progress-circular>
    <span ng-if="$ctrl.generationProgress !== null"
      class="progress">
      {{$ctrl.generationProgress}}
    </span>
  </div>

   <div ng-if="$ctrl.generationProgress !== null"
    class="wait"
    layout="row"
    layout-align="center center">
    <md-progress-circular md-mode="determinate"
      md-diameter="60px"
      value="{{$ctrl.generationProgress}}">
    </md-progress-circular>
    <span class="progress">
      {{$ctrl.generationProgress}}%
    </span>
  </div>

  <div class="add-sign-in"
    layout="column"
    layout-align="start center">
    <p>Cancel <em>Sign Up</em> and return to <em>Sign In</em></p>
    <md-button class="md-raised md-primary"
      ng-click="$ctrl.goSignIn()">
      Sign In
    </md-button>
  </div>

</section>
