<section class="signup-password" layout="column" layout-align="start center">
  <h2 md-colors="{color: 'accent-700'}">{{$ctrl.user.mail}}</h2>
  <h4>Step 1 of 2</h4>
  <h4>Setup Login password</h4>
  <div class="info">
    &bull; Your Login password must be at least <b>12</b> characters.<br>
		&bull; You can use letters, numbers and any characters.<br>
		&bull; You can use characters from any language.
  </div>
  
  <div class="input-wrap">
    <md-input-container>
      <label>Enter your Login password</label>
      <input type="password"
          ng-model="$ctrl.user.password"
          ng-focus="$ctrl.step = 1"
          ng-required="true"
          ng-keyup="$ctrl.preNext($event)">
    </md-input-container>
    <md-button ng-if="(($ctrl.user.password.length >= $ctrl.passMinLength) && ($ctrl.step === 1))"
        aria-label="done"
        md-colors="{background: 'blue-grey-100'}"
        ng-click="$ctrl.next()">
      <ng-md-icon icon="done" size="24"></md-icon>
    </md-button>
  </div>
  
  <div class="input-wrap">
    <md-input-container ng-if="$ctrl.step > 1">
      <label>Confirm your Login password</label>
      <input type="password"
          ng-model="$ctrl.passwordConfirm"
          ng-change="$ctrl.checkPassword()"
          ng-class="{pasError: $ctrl.error.passwordConfirm === true}"
          ng-keyup="$ctrl.preGenerateLoginKey($event)">
      <div ng-if="$ctrl.error.passwordConfirm" class="error-msg">
        Password mismatch!
      </div>
    </md-input-container>
    <md-button ng-if="($ctrl.passwordConfirmed && ($ctrl.step === 2))"
        aria-label="done"
        md-colors="{background: 'blue-grey-100'}"
        ng-click="$ctrl.generateLoginKey()">
      <ng-md-icon icon="done" size="24"></md-icon>
    </md-button> 
  </div>
  
  <div ng-if="$ctrl.generationProgress !== null" class="generate-info" md-colors="{color: 'warn-500'}">
    Key generation from your login password, will take some time!
  </div>
  
</section>