<section class="signup-password" layout="column" layout-align="start center">
  <h2 md-colors="{color: 'accent-700'}">
    {{$ctrl.user.mail}}
  </h2>
  <h4>Step 2 of 3</h4>
  <h4>Setup Storage password</h4>
  <div class="info">
    &bull; Your Login password must be at least <b>12</b> characters.<br>
		&bull; You can use letters, numbers and any characters.<br>
		&bull; You can use characters from any language.
  </div>
  
  <div class="input-wrap">
    <md-input-container>
      <label>Enter your Storage password</label>
      <input type="password"
          ng-model="$ctrl.user.storPassword"
          ng-focus="$ctrl.step = 1"
          ng-required="true"
          ng-keyup="$ctrl.preStorNext($event)">
    </md-input-container>
    <md-button ng-if="(($ctrl.user.storPassword.length >= $ctrl.passMinLength) && ($ctrl.step === 1))"
      aria-label="done"
      md-colors="{background: 'blue-grey-100'}"
      ng-click="$ctrl.storNext()">
      <ng-md-icon icon="done" size="24"></md-icon>
    </md-button>
  </div>  
  
  <div class="input-wrap">
    <md-input-container ng-if="$ctrl.step > 1">
      <label>Confirm your Storage password</label>
      <input type="password"
          ng-model="$ctrl.passwordConfirm"
          ng-change="$ctrl.checkStorPassword()"
          ng-class="{pasError: $ctrl.error.passwordConfirm === true}"
          ng-keyup="$ctrl.preGenerateSrorageKey($event)">
      <div ng-if="$ctrl.error.passwordConfirm" 
        class="error-msg">
        Password mismatch!
      </div>
    </md-input-container>
    <md-button ng-if="($ctrl.passwordConfirmed && ($ctrl.step === 2))"
      aria-label="done"
      md-colors="{background: 'blue-grey-100'}"
      ng-click="$ctrl.generateSrorageKey()">
      <ng-md-icon icon="done" size="24"></md-icon>
    </md-button>
  </div>
  
  <div ng-if="$ctrl.generationProgress !== null"    
    class="generate-info" 
    md-colors="{color: 'warn-500'}">
    Key generation from your storage password, will take some time!
  </div>
  
</section>